<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/jpg"
          href="https://begimoveis.com.br/wp-content/uploads/2017/03/house-icon.png"/>

    <title>{% block title %}{{ "tab.title"|trans }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<ul class="nav justify-content-center border-bottom border-dark nav-dark p-2 m-4">
    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="{{ path('index') }}">{{ "menu.instructions"|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="{{ path('location_list') }}">{{ "menu.locations"|trans }}</a>
    </li>
</ul>

{% block body %}{% endblock %}
</body>
</html>
