<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">


    <title>{% block title %}Dev Test!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<ul class="nav justify-content-center border-bottom border-dark nav-dark p-2 m-4">
    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="{{ path('index') }}">Instructions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="{{ path('location_list') }}">Locations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="{{ path('property_list') }}">Properties</a>
    </li>
</ul>

{% block body %}{% endblock %}
</body>
</html>
