{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        <h1 class="d-flex justify-content-center">{{ "home.title"|trans }}</h1>
        <p class="d-flex justify-content-center">{{ "home.subtitle"|trans }}</p>

        <h3>{{ "home.steps.first.title"|trans }} <small>{{ "home.steps.first.description"|trans }}</small></h3>
        <ul>
            <li> {{ "home.steps.first.item1"|trans }}</li>
            <li> {{ "home.steps.first.item2"|trans }}</li>
            <li> {{ "home.steps.first.item3"|trans }}</li>
        </ul>

        <h3>{{ "home.steps.second.title"|trans }} <small>{{ "home.steps.second.description"|trans }}</small></h3>
        <ul>
            <li> {{ "home.steps.second.item1"|trans }}</li>
            <li> {{ "home.steps.second.item2"|trans }}</li>
            <li> {{ "home.steps.second.item3"|trans }}</li>
        </ul>

        <h3>{{ "home.steps.third.title"|trans }} <small>{{ "home.steps.third.decription"|trans }}</small></h3>
        <ul>
            <li> {{ "home.steps.third.item1"|trans }}</li>
            <li> {{ "home.steps.third.item2"|trans }}</li>
            <li> {{ "home.steps.third.item3"|trans }}</li>
            <li> {{ "home.steps.third.item4"|trans }}</li>
        </ul>
        <hr>
        <div class="row">
            <div class="col-6">
                <h3>{{ "notes.title"|trans }}</h3>
                <ul>
                    <li>{{ "notes.item1"|trans }}</li>
                    <li>{{ "notes.item2"|trans }}</li>
                </ul>
            </div>

            <div class="col-6">
                <h3>{{ "entities.title"|trans }}</h3>
                <ul>
                    <li>{{ "entities.location"|trans }}</li>
                    <li>{{ "entities.enquire"|trans }}</li>
                    <li>{{ "entities.property"|trans }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}