{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-hover table-lightgray">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Bedrooms</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
            </tr>
            </thead>
            <tbody>
            {% for house in properties %}
                <tr>
                    <td>{{ house.id }}</td>
                    <td><a href="{{ path('property_details', { 'id': house.id }) }}"
                           class="text-dark">{{ house.title }}</a></td>
                    <td>{{ house.bedrooms }}</td>
                    <td>{{ house.latitude }}</td>
                    <td>{{ house.longitude }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}